/* =========================
   TITULO PRINCIPAL
========================= */
h1 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
}

/* =========================
   SUBTITULO
========================= */
h3 {
    text-align: center;
    color: #9CA3AF; /* cinza elegante */
    font-weight: 400;
    margin-top: -10px;
}

/* =========================
   CARD HEADER (opcional)
========================= */
.main-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    color: #9CA3AF;
    font-size: 18px;
}

/* =========================
   CENTRALIZAR GRÁFICOS
========================= */
.center-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* remove excesso de espaço do pyplot */
.center-chart > div {
    margin: 0 auto;
}

.center-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    border-radius: 12px;
    padding: 20px;
}